:root {
  --font-family: 'Georgia', serif;
  --content-width: 1200px;
  --container-offset: 40px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-primary: rgba(241, 205, 179, 1);
  --color-primary-light: rgba(253, 220, 196, 1);
  --color-light-l: #F6F6F6;
  --color-light-s: #FAFAFA;
  --color-dark: #000;
  --color-dark-l: rgba(84, 84, 84, 1);
  --color-light-xl: rgba(255, 255, 255, 1);
  --color-dark-3xl: rgba(41, 41, 41, 1);
  --color-dark-s: rgba(205, 205, 205, 1);
  --color-dark-m: rgb(178, 178, 178);
  --color-light-xl: #FFFFFF;
}


.custom-checkbox__field:checked+.custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled+.custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}


@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/Georgia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeorgiaItalic";
  src: url("../../assets/fonts/GeorgiaItalic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Arial-ItalicMT";
  src: url("../../assets/fonts/Arial-ItalicMT.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0;
  scroll-behavior: smooth;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.section-offset {
  padding: 80px 0 100px 0;
}

p,
.p {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 160%;
}

.p-s {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 150%;
  color: var(--color-dark-m);
}

h1 {
  letter-spacing: 0.06em;
  margin: 0;
  letter-spacing: 0.06em;
}


h2 {
  font-size: 2.75em;
  line-height: 130%;
  color: var(--color-light-xl);
}

h3 {
  font-size: 2.1875em;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

h4 {
  font-size: 1.25em;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

h5 {
  font-size: 1.0625em;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);

}

.btn {
  font-size: 1.06em;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  padding: 15px 45px;
  background: var(--color-primary);
  border-radius: 100px;
  transition: all 0.3s;
}

.btn:hover {
  background: var(--color-primary-light);
  transition: all 0.3s;
}

.card-btn {
  font-size: 1.0625em;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  padding: 13px 43px;
  background: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  transition: all 0.3s;
}

.card-btn:hover {
  background-color: var(--color-primary-light);
  transition: all 0.3s;
  border: 2px solid var(--color-primary-light);
}

.center {
  text-align: center;
  margin-bottom: 60px;
}


.header {
  padding: 60px 0;
  position: absolute;
  width: 100%;

}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__link {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.06em;
  margin: 0;
}

.logo__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: var(--color-primary);
  line-height: 110%;
  margin-bottom: 10px;
  letter-spacing: 0.06em;

}

.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
  text-align: right;
}


.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background-color: transparent;
  position: absolute;
  top: 50px;
  right: 53px;
  z-index: 99;
  gap: 8px;
  transition: all 0.3s;
}

.burger span {
  height: 2px;
  width: 100%;
  background-color: var(--color-primary);

}

.burger--active {
  transform: rotate(90deg);
}


.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.nav__link {
  /* position: relative; */
  line-height: 160%;
  color: var(--color-dark-s);
  transition: all 0.5s;
  letter-spacing: 0;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
}

.nav__link:hover {
  color: var(--color-light-s);
  transition: all 0.5s;
  padding-bottom: 2px;
  border-bottom: 3px solid var(--color-primary);

}

.nav__link-active {
  font-weight: normal;
  color: var(--color-light-s);
  padding-bottom: 2px;
  border-bottom: 3px solid var(--color-primary);
  letter-spacing: normal;
}

.hero {
  padding-top: 180px;
  background: url('../../assets/img/background.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero-inner {

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hero-title {
  margin-top: -80px;
  margin-bottom: 42px;
}

.hero-subtitle {
  color: var(--color-dark-s);
  margin-bottom: 42px;
  max-width: 460px;
}

.hero__link {
  display: inline-block;
}

.hero-img {
  max-width: 58.2%;
}

.about {
  background-color: var(--color-light-xl);
}

.about-inner {


  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 120px;
}

.about__description {
  max-width: 430px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.about-title {
  margin-bottom: 25px;
}

.about-subtitle+.about-subtitle {
  margin-top: 27px;
}

.our-friend {
  background-color: var(--color-light-l);
}

.our-friend-inner {


  display: flex;

  flex-direction: column;
}

.our-friend-slider {
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
}

.card-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  gap: 90px;
  max-width: 990px;
  overflow-x: hidden;
}

.all-pets {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  gap: 90px;
  transition: all 0.5s;

}

.card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--color-light-s);
  padding-bottom: 30px;
  border-radius: 9px;
  transition: all 0.3s;
  min-width: 270px;

}

.card-item:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all 0.3s;
  background: #FFFFFF;
}

.card-item:hover .card-btn {
  background-color: var(--color-primary-light);
  transition: all 0.3s;
}

.card-img {
  max-width: 270px;
  margin-bottom: 30px;
}

.card-item h4 {
  margin-bottom: 30px;
}

.btn-slider-main-prev,
.btn-slider-main-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  transition: all 0.5s;
}

.btn-slider-main-prev:hover,
.btn-slider-main-next:hover {
  background-color: var(--color-primary);
  transition: all 0.5s;
}

.btn-slider-main-prev {
  position: absolute;
  left: -106px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-slider-main-next {
  position: absolute;
  right: -106px;
  top: 50%;
  transform: translateY(-50%);
}

.our-friend__link {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.our-friend-buttons {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-slider-prev {
  color: var(--color-dark-s);
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-dark-s);
  border-radius: 100px;
}

.btn-slider-active {
  color: var(--color-dark-3xl);
  width: 52px;
  height: 52px;
  background-color: var(--color-primary);
  border-radius: 100px;
}

.btn-slider-next {
  color: var(--color-dark-3xl);
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
}

.help-title {
  text-align: center;
  margin-bottom: 55px;
}

.help-list {

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1060px;
  margin: 0 auto;
  gap: 53px 120px;
}

.help-item {

  display: flex;

  flex-direction: column;

  align-items: center;
}

.help-img {
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.in-addition {
  background-color: var(--color-light-l);
}

.in-addition-inner {


  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  align-items: center;
  gap: 30px;
}

.in-addition-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 382px;
}


.in-addition-subtitle {
  font-size: 15px;
}

.in-addition-card {

  display: flex;

  align-items: center;
  padding: 10px 15px;
  background-color: var(--color-primary);
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border-radius: 9px;
  padding-left: 30px;
  transition: all 0.3s;
}

.in-addition-card:hover {
  background-color: var(--color-primary-light);
  transition: all 0.3s;
}

.in-addition-card-text {
  position: relative;
  padding-left: 30px;
}

.in-addition-card-text::before {
  position: absolute;
  content: '';
  background-image: url("../../assets/icons/credit-card.svg");
  width: 30px;
  height: 23px;
  left: -15px;
  top: 0;
}

.footer {
  background: url("../../assets/img/background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 40px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;

}

.footer-description {
  display: flex;
  gap: 140px;
}

.footer-title__rigth {
  color: var(--color-light-xl);
  margin-bottom: 40px;
  margin-top: 14px;
  letter-spacing: 0.06em;
  width: 300px;
}

.footer-list__rigth {
  display: flex;
  flex-direction: column;
}

.footer-list__rigth .footer-item:first-child {
  margin-bottom: 40px;
}

.footer-title__center {
  color: var(--color-light-xl);
  margin-bottom: 32px;
  margin-top: 15px;
  letter-spacing: 0.06em;
  width: 300px;
}

.footer-list__center {
  display: flex;
  flex-direction: column;
}

.footer-list__center .footer-item:first-child {
  margin-bottom: 35px;
}

.footer-item {
  display: flex;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: left;
}

.footer-link-title {
  font-size: 1.25em;
  line-height: 115%;
  display: flex;
  align-items: center;
  gap: 18px;
  align-self: center;
}

.footer-link {
  font-weight: normal;
  color: var(--color-primary);
  letter-spacing: 0.06em;
  text-align: left;
}

.footer-link:hover {
  color: var(--color-primary-light);
}

.footer-img {
  max-width: 300px;
}

.move-right {
  -webkit-animation: move-right 1s ease-in-out;
  animation: move-right 1s ease-in-out;
}

@-webkit-keyframes move-right {
  from {
    left: -1080px;
  }

  to {
    left: -2160px;
  }
}

@keyframes move-right {
  from {
    left: -1080px;
  }

  to {
    left: -2160px;
  }
}

.move-left {
  -webkit-animation: move-left 1s ease-in-out;
  animation: move-left 1s ease-in-out;
}

@-webkit-keyframes move-left {
  from {
    left: -1080px;
  }

  to {
    left: 0;
  }
}

@keyframes move-left {
  from {
    left: -1080px;
  }

  to {
    left: 0;
  }
}


.move-right-768 {
  -webkit-animation: move-right-768 0.7s ease-in-out;
  animation: move-right-768 0.7s ease-in-out;
}

@-webkit-keyframes move-right-768 {
  from {
    left: -930px;
  }

  to {
    left: -1860px;
  }
}

@keyframes move-right-768 {
  from {
    left: -930px;
  }

  to {
    left: -1860px;
  }
}

.move-left-768 {
  -webkit-animation: move-left-768 0.7s ease-in-out;
  animation: move-left-768 0.7s ease-in-out;
}

@-webkit-keyframes move-left-768 {
  from {
    left: -930px;
  }

  to {
    left: 0;
  }
}

@keyframes move-left-768 {
  from {
    left: -930px;
  }

  to {
    left: 0;
  }
}

.move-right-320 {
  -webkit-animation: move-right-320 0.5s ease-in-out;
  animation: move-right-320 0.5s ease-in-out;
}

@-webkit-keyframes move-right-320 {
  from {
    left: -810px;
  }

  to {
    left: -1620px;
  }
}

@keyframes move-right-320 {
  from {
    left: -810px;
  }

  to {
    left: -1620px;
  }
}

.move-left-320 {
  -webkit-animation: move-left-320 0.5s ease-in-out;
  animation: move-left-320 0.5s ease-in-out;
}

@-webkit-keyframes move-left-320 {
  from {
    left: -810px;
  }

  to {
    left: 0;
  }
}

@keyframes move-left-320 {
  from {
    left: -810px;
  }

  to {
    left: 0;
  }
}