.overlay {
  display: none;
}

.overlay-active {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  background: rgba(41, 41, 41, 0.6);

}

.modal {
  display: flex;
  position: absolute;
  max-width: 900px;
  border-radius: 12px;
  cursor: auto;
  background: var(--color-light-s);
  border-radius: 9px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}


.modal__close {
  position: absolute;
  top: -50px;
  right: -50px;
  border: 2px solid #F1CDB3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border-radius: 100%;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
}

.modal__close:hover {
  background-color: var(--color-primary);
  transition: all 0.3s;
}

.modal__image {
  min-width: 500px;
  border-radius: 9px 0px 0px 9px;
}

.modal__text {
  padding: 50px 20px 20px 30px;
  color: var(--color-dark);
}

.modal__title {
  color: var(--color-dark);
  margin-bottom: 10px;
}

.modal__subtitle {
  color: var(--color-dark);
  margin-bottom: 40px;
}

.modal__description {
  color: var(--color-dark);
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.modal__list {

  display: flex;
  flex-direction: column;
  gap: 10px;

}


.modal__item {
  position: relative;
  padding-left: 14px;
}

.modal__item::before {
  display: block;
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  left: 0;
  top: 7px;
  background-color: var(--color-primary);
  border-radius: 100%;
}

.modal__item p {
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.modal__item p span {
  font-weight: 700;
}

@media(max-width: 1279px) {

  .modal {
    max-width: 630px;
  }

  .modal__image {
    min-width: 350px;
  }

  .modal__text {
    padding: 10px;
  }

  .modal__subtitle {
    margin-bottom: 10px;
  }

  .modal__description {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .modal__list {
    gap: 5px;

  }
}

@media(max-width: 760px) {

  .modal {
    max-width: 240px;
  }

  .modal__image {
    display: none;
  }

  .modal__close {
    top: -50px;
    right: -25px;
  }

  .modal__text {
    padding: 10px;
  }

  .modal__subtitle {
    text-align: center;
  }

  .modal__description {
    text-align: justify;
  }

  .modal__list {
    gap: 5px;

  }
}